.gradient {
    width: 200px;
    height: 100px;
    border: 2px solid gray;
    /* background: linear-gradient(180deg, ); */
    background: linear-gradient(90deg, white, coral);
}
.background-image {
    background-image: url(/1.jpeg) ;
    height: 900px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
/* .background {
    background: url(/1.jpeg) ;
    height: 900px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */